
.chartstyle{
  -fx-stroke:dodgerblue;
  -fx-stroke-width:1;
}

.chartstyle:hover{
  -fx-stroke:black;
  -fx-stroke-width:2;
}

.chartpoint{
	-fx-background-color:red;
	-fx-pref-height:5px;
	-fx-pref-width:5px;
}
