.chart-pie:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-cursor:HAND;
}

.chart-bar:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-cursor:HAND;
}

.textstyle1{
	-fx-text-fill: mediumturquoise ;
	-fx-font-size:16;
	-fx-font-style:italic;
	-fx-font-weight:bold;
}

.textstyle2{
	-fx-text-fill:red;
	-fx-font-size:16;
	-fx-font-style:italic;
	-fx-font-weight:bold;
}

.backeffict{
	-fx-background-color: linear-gradient(to bottom right,#add8e6,#b0c4de);
}