<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
    <session-factory>
    
   		 <!--C3P0配置 -->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
     
   	 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.0.34:3306/ygfxy?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">xsx_kair</property>
		<property name="hibernate.connection.password">xsx127</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping resource="org/com/xsx/Domain/CardBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/DeviceBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/ManagerBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/PersonBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/SoftVersion.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/TestDataBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/DevicerBean.hbm.xml"/>
		<mapping resource="org/com/xsx/Domain/CardRecordBean.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
